@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Us</h2>
<p>Vidly is a new approach to the old practice of movie rental. We place trust in our customers by allowing them to rent
as many movies as they want. So, if your setting up for a party come down to Vidly, we'll tell you to</p>

<blockquote>"Go ahead rent away"</blockquote>

<p>But surely you'll charge me if I don't return the movies within the aloted time slot? Actually, no! We don't believe 
in this library-esque model. At Vidly we just want you to enjoy cinema, we'll worry about the rest.</p>

