@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Frequently asked questions (FAQ)</h2>

<h4>Questions</h4>
<ul>
	<li>What is Vidly?</li>
	<li>How do I use Vidly?</li>
	<li>How much?</li>
	<li>Return dates?</li>
	<li>Movie Availability?</li>
</ul>

<h3>Q: What is Vidly?</h3>
<p>A: Vidly is a new generation of movie rental. You select the movies and we send them the same day.</p>

<hr>

<h3>Q: How do I use Vidly?</h3>
<p>A: It's simple. Using your Vidly account browse our selection of movies. Once you found the perfect flick click the 
"rent now" button to order the film. Within the day you'll have the physical film, that's our same day delivery 
gaurentee.</p>

<hr>
	
<h3>Q: How much?</h3>	  
<p>A: Absolutely nothing. You pay nothing at all.</p>

<hr>
a
<h3>Q: Return dates?</h3>
<p>A: In short, No. We allow our customers to keep the film as long as they want. Rather than force them into a headache
, we'd perfer you keep the film and enjoy it with no strings attached.</p>

<hr>

<h3>Q: Movie Availability?</h3>
<p>A: The availability of our films is not an issue. Using a secret patented technique <span>illegally burning movies
</span> we can afford to almost throw our movies away.</p>
