@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-md-2"></div>
	<h2 class="col-md-8 text-center">Frequently asked questions (FAQ)</h2>
</div>

<div class="row">
	<div class="col-md-2">
		<h4>Questions</h4>
		<ul>
			<li><a href="#1">What is Vidly?</a></li>
			<li><a href="#2">How do I use Vidly?</a></li>
			<li><a href="#3">How much?</a></li>
			<li><a href="#4">Return dates?</a></li>
			<li><a href="#5">Movie Availability?</a></li>
		</ul>
	</div>

	<div class="col-md-9">
		<div class="well-lg">
			<h3 id="1">Q: What is Vidly?</h3>
			<p>A: Vidly is a new generation of movie rental. You select the movies and we send them the same day.</p>
		</div>

		<hr>

		<div class="well-lg">
			<h3 id="2">Q: How do I use Vidly?</h3>
			<p>A: It's simple. Using your Vidly account browse our selection of movies. Once you found the perfect flick click the 
			"rent now" button to order the film. Within the day you'll have the physical film, that's our same day delivery 
			gaurentee.</p>
		</div>
			
		<hr>

		<div class="well-lg">
			<h3 id="3">Q: How much?</h3>	  
			<p>A: Absolutely nothing. You pay nothing at all.</p>
		</div>
				
		<hr>

		<div class="well-lg">
			<h3 id="4">Q: Return dates?</h3>
			<p>A: In short, No. We allow our customers to keep the film as long as they want. Rather than force them into a headache
			, we'd perfer you keep the film and enjoy it with no strings attached.</p>
		</div>
					
		<hr>

		<div class="well-lg">
			<h3 id="5">Q: Movie Availability?</h3>
			<p>A: The availability of our films is not an issue. Using a secret patented technique <span>illegally burning movies
			</span> we can afford to almost throw our movies away.</p>
		</div>
	</div>
</div>