@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center jumbotron">
	<h2>Find and rent all your favorite Movies</h2>
	<button class="btn-primary btn-lg">Sign up to watch for free!</button>
</div>
