<!DOCTYPE html>
<html>
<head>
    <title>@("Vidly | " + ViewBag.Title)</title>
	<link rel="stylesheet" href="~/Content/bootstrap.css">
	<link rel="stylesheet" href="~/Content/bootstrap-theme.css">
</head>
<body>
	@Html.Partial("~/Views/Partials/Header.cshtml")
	<div class="container">
		<div class="well-lg">
			@RenderBody()
		</div>
	</div>
	@Html.Partial("~/Views/Partials/Footer.cshtml")
</body>
</html>
