<div class="panel-footer footer">
	
	<small>Copyright 2017 - Vidly</small>

	<div class="pull-right">
		<a href="/home/faq">FAQ</a>
		<a href="#">Legal</a>
		<a href="#">Terms of service</a>
	</div>
</div>