<form action="/movies/Search">
	<input type="text" placeholder="Find a movie by" name="value" required="required">
	<select name="searchBy" required="required">
		<option value="Name" selected="selected">Name</option>
		<option value="Categeory">Categeory</option>
	</select>
	<button>Search</button>
</form>
