@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Partials/SearchBar.cshtml")
@foreach ( var movie in Model )
{
	<h1>@Html.ActionLink(movie.Name, String.Format("/Show/{0}", movie.Id))</h1>
	<p>Categeory: @movie.Category</p>
}
